* {
	font-family: 'MuseoSansCyrl', sans-serif;
}
@import "base/variables";
@import "base/mixins";

.container {
	width: 950px;
	margin: 0 auto;
}

@import "blocks/promo";
@import "blocks/header";
@import "blocks/_buttons";